$color-bg: #f2e8cf;
$color-bingo-card-bg: whitesmoke;
$color-primary: #28666e;
$color-primary-light: lighten($color-primary, 10%);
$color-accent: #d7263d;
$color-black: #000000;
$color-white: #ffffff;
